.App_h1 {
  color: darkred;
  text-align: center;
}

.About_h1 {
  color: blue;
  text-align: center;
}

.Home_h1 {
  color: darkgoldenrod;
  text-align: center;
}

.Service_h1 {
  color: darkgreen;
  text-align: center;
}