/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

.nav {
  display: flex;
  gap: 10em;
  width: 92%;
  margin: auto;
  padding-bottom: 1em;
}

.navList {
  gap: 1.5em;
  display: flex;
  list-style: none;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 38px;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
}

.navButton {
  text-decoration: none;
    padding: 16px 40px;
    background: #db3030;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    color: whitesmoke;
}

.apt-logo {
  margin-top: 15px;
  width: 160px;
  height: 60px;
}

.read-more-link {
  text-decoration: none;
  padding: 16px 30px;
  background: #db3030;
  border-radius: 6px;
  font-weight: bold;
  color: whitesmoke;
}

.banner-content {
  width: 90%;
  margin: auto;
  padding-top: 6em;
  padding-bottom: 9em;
}

/* .Banner {
  
} */

.banner-h1 {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 1em;
}

.sponsors-container {
  position: relative;
  bottom: 70px;
  width: 90%;
  margin: auto;
  background: black;
  height: 190px;
  border-radius: 8px;
}

.wwa-h6 {
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  line-height: 30px !important;
  letter-spacing: 1px !important;
  color: #db3030 !important;
  display: block !important;
  margin-bottom: 0px !important;
}

.wwa-h3 {
  font-size: 54px !important;
  line-height: 60px !important;
  font-weight: 600 !important;
  margin-top: 0px !important;
}

.wwa-h5 {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  font-family: 'Hind Siliguri', sans-serif !important;
  line-height: 1.5 !important; 
  margin-bottom: 0px;
}

.wwa-p1 {
  margin-top: 16px;
  font-size: 18px !important;
  line-height: 28px !important;
}

.wwa-p {
  font-size: 18px !important;
  line-height: 28px !important;
  margin-bottom: 45px;
  margin-top: '6px';
}

 .wwd-icons {
  font-size: 40px;
  color: #db3030;
}

.wwd-box:hover {
  background-color: #db3030;
  color: white;
}

.wu-p1 {
  font-size: 20px !important;
  margin-top: 0px !important;
  margin-bottom: 1.5em !important;
}

.wu-h3 {
  font-size: 28px !important;
}


.op-box-2 {
  background: white;
    padding: 15px 26px;
    border-radius: 6px;
    margin-top: 15.4em;
}

.op-box {
  background: black;
    padding: 65px 65px 0px 65px;
    border-radius: 6px;
    height: 470px;
}


/* .wwd-box:hover .wwd-icons > *:not(.card-title) */

/* .banner-container {
  background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} */

/* .banner-extra {
    z-index: 0;
    position: relative;
} */

